@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe {
    width: 405px;
    height: 300px;
    overflow: hidden;
    margin: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.274);
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;

}